<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
  </head>
  <body>
    <h2>Calendar</h2>
    <iframe
      src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FKolkata&src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%230B8043&showTitle=1&showCalendars=1&showPrint=1&title=DayFORCE%20Calendar"
      style="border: solid 1px #777"
      width="1500"
      height="600"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </body>
</html>
