<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" class="container"></form>
    <h1 class="main_head">Login</h1>
    <hr>
    <p>UID/Email/Phone :*
        <br><input type="email" name="UID" required placeholder="Enter Your UID/Email/Phone">
    </p>   
    <p>
        Password :*
        <br><input type="password" name="password" required placeholder="Enter Your Password">
    </p>
    <h5><a href="http://"></a></h5> 
</body>
</html>