<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services | DayFORCE</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/feedback" target="_blank" >Feedback Form</a>
    <br>
    <a href="grs.html" target="_blank" unvisited>Grievance Redressal System</a>
    <br>
    <a href="srs.html" target="_blank" unvisited>Satisfactory Rating System</a>
    <br>
    <a href="meetingroom.html" target="_blank" unvisited>Meeting Room Booking</a>
    <br>
</body>
</html>