<html>
{% load static %}

<head>
    <title>Register | DayFORCE</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
<form method ="POST " action="">
{% csrf_token %}
<h1 class="main_head">Employee Registration</h1>
<hr>
<p>Name:*
    <br><input type="text" name="t1" required placeholder="Enter Your Name">
</p>

<p>
    Address:* <br>
    <textarea name="t6" id="" cols="100" rows="5" required placeholder="Your Address Here"></textarea>
</p>
<p>    
    Email*: <br>
    <input type="email" name="t2 " id="email" required placeholder="Email Please">
</p>

<p>Password:*<br><input type="password" required placeholder="Enter your password" name="t3">
</p> 
<p>   
Contact:*<br><input type="number" name="t4" required placeholder="Enter your contact number">
<p>
<input type="submit" value="Register">
</p></form>
{% ifequal error "no" %}
<script>
alert("Register Successfully")
window.location=('http://127.0.0.1:8000/home')
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
alert("Sorry,Try again")
</script>
{% endifequal %}
</body>
</html>