<html>
<body>

<form method ="post" action="">
{% csrf_token %}
Name<input type="text" name="t1"><br>
Email<input type="text" name="t2"><br>
Password<input type="text" name="t3"><br>
Contact<input type="test" name="t4"><br>

<input type="submit" value="register">
</form>
{% ifequal error "no" %}
<script>
alert("Register Successfully")
window.location=('http://127.0.0.1:8000/home')
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
alert("Sorry,Try again")
</script>
{% endifequal %}
</body>
</html>