<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satisfactory Rating System | DayFORCE</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<form class="container" method ="POST">
<body>

    <h1 class="main_head">Satisfactory Rating System</h1>
<hr>

<p> Name:*
    <br><input type="text" name="t1" required placeholder="Enter Your Name">
</p>
  
<p>    
    Email*: <br>
    <input type="email" name="t2 " id="email" required placeholder="Email Please">
</p>

<p> Password:*<br><input type="password" required placeholder="Enter your password" name="t3">
</p> 
<p>   
Contact:*<br><input type="number" name="t4" required placeholder="Enter your contact number">
</p>
<p><fieldset>
    <legend>How Comfortable Are you with your shift:</legend>
    1<input type="radio" name="Gender" id="">
    2<input type="radio" name="Gender" id="">
    3<input type="radio" name="Gender" id="">
    4<input type="radio" name="Gender" id="">
    5<input type="radio" name="Gender" id="">
    </fieldset>
    </p>
    <p><fieldset>
        <legend>How Comfortable Are you with the  meeting room:</legend>
        1<input type="radio" name="Gender" id="">
        2<input type="radio" name="Gender" id="">
        3<input type="radio" name="Gender" id="">
        4<input type="radio" name="Gender" id="">
        5<input type="radio" name="Gender" id="">
        </fieldset>
        </p>  
        <p><fieldset>
            <legend>Overall Rating:</legend>
            1<input type="radio" name="Gender" id="">
            2<input type="radio" name="Gender" id="">
            3<input type="radio" name="Gender" id="">
            4<input type="radio" name="Gender" id="">
            5<input type="radio" name="Gender" id="">
            </fieldset>
            </p>      
    <p>
        Suggestions(if any): <br>
        <textarea name="t6" id="" cols="100" rows="5"  placeholder="Your Address Here"></textarea>
    </p>  
<input type="submit" value="Submit Your Ratings">
</p></form>
</body>
</html>